@{
    ViewData["Title"] = "Home Page";
}

<!-- LINK SECTION -->
<section class="link">
    <div class="container">
        <div class="link__container">
            <div class="link__wrapper">
                <a class="link__item" href="man-watch.html"><i class="uil uil-watch"></i> <span>Kişi saatları</span></a>
                <a class="link__item" href="woman-watch.html"><i class="uil uil-watch-alt"></i> <span>Qadın saatları</span></a>
                <a class="link__item" href="smart-watch.html"><i class="uil uil-watch-alt"></i> <span>Smart saatlar</span></a>
            </div>
        </div>
    </div>
</section>

<section class="link bestseller__link">
    <div class="container">
        <div class="link__container">
            <div class="link__wrapper">
                <a class="link__item" href="#best__seller"><i class="uil uil-fire"></i> <span>Ən Çox Satılanlar</span></a>
                <a class="link__item" href="#new__products"><i class="uil uil-star"></i> <span>Yeni Gələnlər</span></a>
                <a class="link__item" href="#star__products"><i class="uil uil-heart"></i> <span>Önə Çıxanlar</span></a>
            </div>
        </div>
    </div>
</section>

<!-- SLIDER SECTION -->
<section class="slider">
    <div class="container">
        <div class="slider__container">
            <div class="swiper mySwiper1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><a href="#"><img src="~/Assest/images/slider_1.jpg" alt="slider 1"></a></div>
                    <div class="swiper-slide"><a href="#"><img src="~/Assest/images/slider_2.jpg" alt="slider 2"></a></div>
                    <div class="swiper-slide"><a href="#"><img src="~/Assest/images/slider_3.jpg" alt="slider 3"></a></div>
                    <div class="swiper-slide"><a href="#"><img src="~/Assest/images/slider_4.jpg" alt="slider 4"></a></div>
                    <div class="swiper-slide"><a href="#"><img src="~/Assest/images/slider_5.jpg" alt="slider 5"></a></div>
                    <div class="swiper-slide"><a href="#"><img src="~/Assest/images/slider_6.jpg" alt="slider 6"></a></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>

<!-- STORE SECTION -->
<section class="store">
    <div class="container store__container">
        <!-- BESTSELLER STORE SECTION -->
        <h2 class="best__seller__heading best__seller__heading__1" id="best__seller">Ən Çox Satılanlar</h2>
        <div class="swiper mySwiper2 best__seller">
            <div class="swiper-wrapper">
                     @foreach (var item in ViewData["BestSteller"] as List<MSStoreWebApp.Models.Product>)
                        {
                         
                         
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/@item.ImgUrl" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">@item.Name</h3>
                        <p class="item__description">@item.Description</p>
                        <small class="item__price">@item.Price AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
             }
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- <div class="swiper-pagination"></div> -->
        </div>

        <!-- BESTSELLER STORE BANNER SECTION -->
        <div class="store__item__banner">
            <div class="store__item__banner__img">
                <img src="~/Assest/images/slider_1.jpg" alt="banner 1">
            </div>
            <div class="store__item__banner__img">
                <img src="~/Assest/images/slider_2.jpg" alt="banner 2">
            </div>
            <div class="store__item__banner__img">
                <img src="~/Assest/images/slider_3.jpg" alt="banner 3">
            </div>
        </div>

        <!-- NEW PRODUCTS STORE SECTION -->
        <h2 class="best__seller__heading best__seller__heading__2" id="new__products">Yeni Gələnlər</h2>
        <div class="swiper mySwiper2 best__seller">
            <div class="swiper-wrapper">
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_2.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Qadın Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_2.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Qadın Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_2.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Qadın Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_2.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Qadın Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_2.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Qadın Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_2.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Qadın Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_2.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Qadın Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_2.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Qadın Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- <div class="swiper-pagination"></div> -->
        </div>

        <!-- NEW PRODUCTS STORE BANNER SECTION -->
        <div class="store__item__banner">
            <div class="store__item__banner__img">
                <img src="~/Assest/images/slider_4.jpg" alt="banner 4">
            </div>
            <div class="store__item__banner__img">
                <img src="~/Assest/images/slider_5.jpg" alt="banner 5">
            </div>
            <div class="store__item__banner__img">
                <img src="~/Assest/images/slider_6.jpg" alt="banner 6">
            </div>
        </div>

        <!-- STAR PRODUCTS STORE SECTION -->
        <h2 class="best__seller__heading" id="star__products">Önə Çıxanlar</h2>
        <div class="swiper mySwiper2 best__seller">
            <div class="swiper-wrapper">
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_3.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Ağıllı Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_3.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Ağıllı Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_3.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Ağıllı Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_3.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Ağıllı Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_3.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Ağıllı Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_3.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Ağıllı Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_3.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Ağıllı Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_3.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Ağıllı Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- <div class="swiper-pagination"></div> -->
        </div>

        <!-- STAR PRODUCTS STORE BANNER SECTION -->
        <div class="store__item__banner">
            <div class="store__item__banner__img">
                <img src="~/Assest/images/slider_1.jpg" alt="banner 1">
            </div>
            <div class="store__item__banner__img">
                <img src="~/Assest/images/slider_2.jpg" alt="banner 1">
            </div>
            <div class="store__item__banner__img">
                <img src="~/Assest/images/slider_3.jpg" alt="banner 1">
            </div>
        </div>

        <!-- MAN WATCHES STORE SECTION -->
        <h2 class="best__seller__heading best__seller__heading__1 man__watch"><span>Kişi Saatları</span> <a href="man-watch.html"><span>Hamısı</span> <i class="uil uil-angle-right"></i></a></h2>
        <div class="swiper mySwiper2 best__seller">
            <div class="swiper-wrapper">
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_1.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Kişi Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_1.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Kişi Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_1.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Kişi Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_1.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Kişi Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_1.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Kişi Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_1.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Kişi Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_1.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Kişi Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_1.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Kişi Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- <div class="swiper-pagination"></div> -->
        </div>

        <!-- WOMAN WATCHES STORE SECTION -->
        <h2 class="best__seller__heading best__seller__heading__2 woman__watch"><span>Qadın Saatları</span> <a href="woman-watch.html"><span>Hamısı</span> <i class="uil uil-angle-right"></i></a></h2>
        <div class="swiper mySwiper2 best__seller">
            <div class="swiper-wrapper">
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_2.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Qadın Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_2.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Qadın Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_2.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Qadın Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_2.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Qadın Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_2.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Qadın Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_2.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Qadın Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_2.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Qadın Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_2.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Qadın Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- <div class="swiper-pagination"></div> -->
        </div>

        <!-- SMART WATCHES STORE SECTION -->
        <h2 class="best__seller__heading best__seller__heading__3 smart__watch"><span>Smart Saatlar</span> <a href="smart-watch.html"><span>Hamısı</span> <i class="uil uil-angle-right"></i></a></h2>
        <div class="swiper mySwiper2 best__seller">
            <div class="swiper-wrapper">
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_3.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Ağıllı Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_3.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Ağıllı Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_3.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Ağıllı Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_3.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Ağıllı Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_3.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Ağıllı Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_3.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Ağıllı Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_3.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Ağıllı Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
                <div class="swiper-slide store__item show kisi saatlar">
                    <a href="product.html">
                        <div class="item__img">
                            <img src="~/Assest/images/watch_3.jpg" alt="watch image">
                            <span class="addToWishlist"><i class="uil uil-heart"></i></span>
                        </div>
                    </a>
                    <div class="item__info">
                        <h3 class="item__heading">Guess</h3>
                        <p class="item__description">GUW1107G1 Ağıllı Qol Saatı</p>
                        <small class="item__price">12 AZN</small>
                        <button class="sale-button">Səbətə at</button>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- <div class="swiper-pagination"></div> -->
        </div>
    </div>
</section>
